.nb-header {
  width: auto;
  height: 30px;
  margin-right: 5px;

  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

img#tiny-notebook {
  height: 15px;
  width: 13px;
  margin: 10px 5px;
}

img#dropdown-arrow {
  height: 15px;
  width: 15px;
}

.nb-header h3 {
  font-family: $sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: $ii-title;
  margin: 5px;
}

.nb-header-dropdown {
  position: absolute;
  left: 470px;
  top: 83px;

  align-content: center;
  width: 360px;
  height: 100%;
  max-height: 238px;
  border: 1px solid $index-border;
  background-color: $white;

  overflow-y: hidden;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
}

.nb-header-dropdown:focus {
  outline-style: none;
}

.new-nb-item {
  display: flex;
  align-items: center;

  height: 55px;
  width: 97%;
  border-bottom: 1px solid $index-border;
}

.new-nb-item:hover button {
  color: $medium-sea-green;
}

.new-nb-item:hover div#new-nb-img {
  background-image: url(https://res.cloudinary.com/dkuqs8yz1/image/upload/v1495510528/new-notebook-hover.png);
}

.nb-header-dropdown button {
  font-size: 14px;
  font-family: $sans-serif;
  background-color: inherit;
  outline: none;
  border-style: none;
  margin: 5px;
}

div#new-nb-img {
  background-image: url(https://res.cloudinary.com/dkuqs8yz1/image/upload/v1495419507/new-notebook.png);
  background-size: 23px;
  width: 23px;
  height: 23px;
  margin-left: 20px;
}
