$dark-slate-gray: #414141;
$darker-slate-gray: #2d2d2d;
$medium-sea-green: #2dbe60;

$gray: #848484;

// home signed in

// background
$white-smoke: #f6f6f6;

// sidebar border
$index-border: #ececec;

// notes header
$header-gray: #878787;
// note count
$header-notes-count: #acacac;

// index item border
$ii-border: #d9d9d9;
// preview title
$ii-title: #515151;
// preview body
$ii-body: #8e8e8e;
// hover background
$ii-hover: #3ebf6e;
// detail title
$note-title: #2dbe60;
// detail body
$detail-note-body: #464646;
// notebook title
$detail-notebook-title: #6f6f6f;

// new notebook

$locked-create: #96dfb0;
$locked-create-text: #ffffff;

$title-placeholder: #c4c4c4;
