.RichEditor-root .RichEditor-editor .DraftEditor-root .DraftEditor-editorContainer {
  height: 100%;
  width: 100%;
}

.richtext-toolbar {
  display: flex;
  align-items: center;
  width: auto;
}

.blocktype-controls {
  display: flex;
}

.inline-controls {
  display: flex;
}

.fa {
  width: 20px;
  height: 20px;
  font-size: 12px;

  fill: #4a4a4a;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.toolbar-divider {
     border-left: 1px solid $index-border;
     height: 20px;
}
