.RichEditor-root {
  height: 100%;
  width: 100%;
}

.RichEditor-root {
  height: 100%;
  width: 100%;
}

.RichEditor-editor {
  height: 100%;
  width: 100%;
}

.DraftEditor-root {
  height: 100%;
  width: 100%;
}

.DraftEditor-editorContainer {
  height: 100%;
  width: 100%;
}
