.tags-header {
  width: auto;
  height: 30px;
  margin-right: 5px;

  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.tags-header h3 {
  font-family: $sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: $ii-title;
  margin: 5px;
}

img#tiny-tag {
  height: 15px;
  width: 13px;
  margin: 10px 5px;
}

img#dropdown-arrow {
  height: 15px;
  width: 15px;
}

.tags-header-dropdown {
  position: absolute;
  top: 83px;

  align-content: center;
  width: 200px;
  height: auto;
  max-height: 238px;

  padding: 5px;
  border: 1px solid $index-border;
  background-color: $white;

  overflow-y: hidden;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
}

.new-tag-item {
  display: flex;
  align-items: center;

  height: 55px;
  width: 97%;
}

.new-tag-item:hover button {
  color: $medium-sea-green;
}

.new-tag-item:hover div#new-tag-img {
  background-image: url(https://res.cloudinary.com/dkuqs8yz1/image/upload/v1495746919/toolbar/new-tag-hover.png);
}

.tags-header-dropdown button {
  font-size: 14px;
  font-family: $sans-serif;
  background-color: inherit;
  outline: none;
  border-style: none;
  margin: 5px;
}

div#new-tag-img {
  background-image: url(https://res.cloudinary.com/dkuqs8yz1/image/upload/v1495746550/toolbar/new-tag.png);
  background-size: 23px;
  width: 23px;
  height: 23px;
  margin-left: 20px;
}
