.error-message {
  display: flex;
  align-items: center;

  border-radius: 5px;
  font-family: $sans-serif;
  color: #D8000C;
  background-color: #FFBABA;
  opacity: .8;
  padding-right: 5px;
  margin: 5px;
}

.error-message i {
  font: 16px;
  color: #D8000C;
  opacity: 1;
}

.error-message i:hover {
  color: $dark-slate-gray;
}
