.notes-index {
  height: 100%;
  width: 350px;
  border-right: 1px solid $index-border;
}

.notes-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 95px;

  border-bottom: 1px solid $index-border;
}

.notes-header h2 {
  font-size: 21px;
  padding: 25px 25px 10px 25px;

  letter-spacing: 1.9px;
  color: $header-gray;
}

.notes-header h4 {
  padding: 10px 25px;
  color: $header-notes-count;
}

.notes-index-scroll {
  overflow-y: auto;
  height: 80%;
}

.notes-index-item {
  width: auto;
  height: 115px;

  padding: 5px;
  cursor: pointer;
}

.notes-index-item:hover {
  background-color: $ii-hover;
}

.notes-index-item:hover .ii-child {
  color: $white-smoke;
}

.highlighted {
  border: 5px solid $ii-border;
  padding: 0
}

.preview-title {
  font-size: 20px;
  color: $ii-title;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.preview-time {
  color: $ii-body;
  font-size: 15px;
  letter-spacing: 1.5px;
  margin-left: 20px;
  margin-top: 5px;
}

.preview-body {
  color: $ii-body;
  font-size: 14px;
  height: 45px;
  overflow: hidden;
  margin: 10px 0 5px 20px;
}
