.overlay {
    position          : fixed;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : rgba(255, 255, 255, 0.75);
    z-index           : 10;
}

.clear-overlay {
    position          : fixed;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : rgba(255, 255, 255, 0);
    z-index           : 10;
}
