.auth-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white-smoke;

  margin: 0 auto 0 auto;
  width: 565px;
  height: 400px;
}

.auth-comp h2 {
  font-size: 36px;
  letter-spacing: 1.6px;
  margin: 10px;
}

.auth-comp h3 {
  font-size: 20px;
  letter-spacing: 1.3px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 470px;
  height: 100px;
  padding-bottom: 10px;

  color: $white-smoke;
}

div.form-nav-link {
  height: 80px;
  width: 220px;

  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.form-nav-link h4 {
  margin: 5px;
}

.form-nav-link button {
  height: 40px;
  width: 215px;
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: $sans-serif;

  color: $dark-slate-gray;
  background-color: $white-smoke;
  outline: none;
  border: none;
  border-radius: 5px;
}

.auth-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  margin: 10px 5px 10px 5px;
}

.auth-inputs input {
  height: 100%;
  width: 47%;
  font-size: 15px;

  padding-left: 8px;
  border-radius: 3px;
  border: 2px;
}

.auth-inputs input::placeholder {
  font-family: $sans-serif;
}

.auth-form button {
  font-size: 16px;
  font-family: $sans-serif;

  color: $white-smoke;
  background-color: $medium-sea-green;
  outline: none;
  border: none;
  border-radius: 5px;
}

.submit-buttons {
  display: flex;
  justify-content:space-between;
  align-items: center;

  height: 42px;
  width: 100%;
}

.submit-buttons button {
  width: 48%;
  height: 100%;
}

.submit-buttons button#signup {
  width: 100%;
}
