.sidebar {
  height: 100%;
  width: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: $white-smoke;
  border-right: 1px solid $index-border;
}

.sidebar img {
  width: 28px;
  height: 31px;
  margin: 15px 15px 18px 20px;
}

.sidebar-bot {
  height: 70px;
  width: 72px;
  border-top: 1px solid $index-border;
}

.circle-button {
    display:block;
    width: 37px;
    height: 37px;
    margin: 15px;

    border: 1px solid $medium-sea-green;
    border-radius: 50%;
    color: $medium-sea-green;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.7s ease;
}
.circle-button:hover {
  background: $medium-sea-green;
  color: $white-smoke;
}

.circle-button#notebooks {
  background-color: $white-smoke;
  background-image: url(http://res.cloudinary.com/dkuqs8yz1/image/upload/v1495424843/sidebar/notebooks.png);
  background-size: 37px;
  background-position: center;
}

.circle-button#notebooks:hover {
  background-image: url(http://res.cloudinary.com/dkuqs8yz1/image/upload/v1495424843/sidebar/notebooks_hover.png);
}

.circle-button#new-note {
  line-height: 41px;
}
.circle-button#signout {
  margin: 15px auto;
  line-height: 41px;
}
