.splash-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-family: 'Khula', sans-serif;
  font-weight: 300;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 88px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $white-smoke;
}

header img {
  padding: 10px 2px 10px 10px;
  width: 35px;
  height: 35px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 25px 15px 15px 2px;

  color: $medium-sea-green;
}

.left-nav {
  display: flex;
  align-items: center;
}

.header-nav-links a {
  padding: 0;
  color: $gray;
  font-size: 16px;
  text-decoration: none;
  transition: border .3s ease-in-out 0s,
    color .3s ease-in-out 0s;
  margin: 10px;
}

.header-nav-links a:hover {
  color: $darker-slate-gray;
}

.header-nav-links:last-of-type {
  margin-right: 25px;
}

footer {
  width: 100%;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $white-smoke;
  background-color: $dark-slate-gray;
  font-size: 17px;
  border-top: 4px solid $darker-slate-gray;
}

.green {
  color: $medium-sea-green;
}

.bg-video video {
    position: fixed;
    opacity: 200;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
