/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "base/reset";

 @import "base/colors";
 @import "base/fonts";
 @import "base/layout";
 @import "base/grid";

 @import "components/api/errors";
 @import "components/api/home/home";
 @import "components/api/home/sessions";
 @import "components/api/home/sidebar";
 @import "components/api/home/splash_page";

 @import "components/api/notes/*";
 // @import "components/api/home/*";
 // @import "components/api/notes/*";

/*  google font: https://fonts.google.com/specimen/Khula?selection.family=Khula:300,400,600,700*/

body, html {
  height: 100%;
  font-weight: 300;
}

main#root {
  height: 100%;
}

button {
  cursor: pointer;
}

// text field effects
//
// .input__field--minoru {
// 	width: 100%;
// 	background: #fff;
// 	box-shadow: 0px 0px 0px 2px transparent;
// 	color: #eca29b;
// 	-webkit-transition: box-shadow 0.3s;
// 	transition: box-shadow 0.3s;
// }
//
// .input__label--minoru {
// 	padding: 0;
// 	width: 100%;
// 	text-align: left;
// }
//
// .input__label--minoru::after {
// 	content: '';
//   	position: absolute;
//   	top: 0;
//   	z-index: -1;
//   	width: 100%;
//   	height: 4em;
// 	box-shadow: 0px 0px 0px 0px;
// 	color: rgba(199,152,157, 0.6);
// }
//
// .input__field--minoru:focus {
// 	box-shadow: 0px 0px 0px 2px #eca29b;
// }
//
// .input__field--minoru:focus + .input__label--minoru {
// 	pointer-events: none;
// }
//
// .input__field--minoru:focus + .input__label--minoru::after {
// 	-webkit-animation: anim-shadow 0.3s forwards;
// 	animation: anim-shadow 0.3s forwards;
// }
//
// @-webkit-keyframes anim-shadow {
// 	to {
// 		box-shadow: 0px 0px 100px 50px;
//     	opacity: 0;
// 	}
// }
//
// @keyframes anim-shadow {
// 	to {
// 		box-shadow: 0px 0px 100px 50px;
//     	opacity: 0;
// 	}
// }
//
// .input__label-content--minoru {
// 	padding: 0.75em 0.15em;
// }
