/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset";
@import "./splash_page";
@import "./api/sessions";

/*  google font: https://fonts.google.com/specimen/Khula?selection.family=Khula:300,400,600,700*/
/*colors
  dark slate gray: #414141
  darker slate gray: #2d2d2d
  medium sea green: #2dbe60
  white smoke: #f6f6f6

  links
    gray: #848484
*/

body, html {
  height: 100%;
}

main#root {
  height: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
